/**
 * Canvas component styles
 */

.canvas {
  position: relative;
  width: 3000px;
  height: 2000px;
  background-color: #f8f9fa;
  background-image: 
    radial-gradient(circle, #dee2e6 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: 0 0;
}

.canvasDropTarget {
  background-color: #e7f5ff;
}

.variablesContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
