/* ResizeHandle CSS Module */

.handle {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  cursor: col-resize;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.indicator {
  width: 1px;
  height: 100%;
  background-color: var(--gray-200);
  transition: background-color 0.2s;
}

.indicator.hovered,
.indicator.resizing {
  background-color: var(--blue-500);
}

.indicator.resizing {
  transition: none;
}

.dragArea {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

